html {
    height: 100%;
}

body {
    height: 100vh;
    padding: 0;
}

.info-card {
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
}

.info-card > img {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    color: yellow;
}